.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loading {
  display: inline-block;
  color: white;
  text-align: left;
  background-color: blue-700;
}

.loading span {
  opacity: 0;
  animation: loading 1.2s infinite;
  color: white;
}

.loading span:nth-child(1) {
  animation-delay: 0s;
  color: white;
}

.loading span:nth-child(2) {
  animation-delay: 0.4s;
}

.loading span:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes loading {

  0% { opacity: 0.2; }

  20% { opacity: 1; }

  100% { opacity: 0.2; }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}